
    body {
        background-color: #F9F6EF;
        color: #041A4B;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        
    }
    
    .menu {
        display: none; /* Skjult som standard */
        position: absolute;
        top: 100px; /* Grundlæggende placering */
        right: 0;
        background-color: #041A4B;
        padding: 10px;
        min-width: 150px;
        z-index: 1000;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(-10px);
        opacity: 0;
    }
    
    .menu ul {
        list-style: none; /* Fjern punkter fra liste */
        padding: 0; /* Fjern indvendig polstring */
        margin: 0; /* Fjern margin */
    }

    .menu li {
        margin: 10px 0; /* Margin mellem listeelementerne */
    }

    .menu a {
        color: #F9F6EF; /* Farve på links i menuen */
        text-decoration: none; /* Fjern understregning fra links */
    }

    .hamburger {
        cursor: pointer; /* Skift musemarkør til pointer */
        padding: 5px; /* Indvendig polstring omkring hamburgeren */
        background-color: #F9F6EF; /* Baggrundsfarve for hamburgeren */
        position: relative; /* Sikrer, at menuen åbner korrekt i forhold til hamburgeren */
        z-index: 1001; /* Sørg for, at hamburgeren vises ovenfor menuen */
        
    }

    .hamburger div {
        width: 26px; /* Bredde på hamburgerlinjer */
        height: 3px; /* Højde på hamburgerlinjer */
        background-color: #041A4B; /* Farve på hamburgerlinjer */
        margin: 5px; /* Margin mellem linjerne */
        transition: background-color 0.3s ease; /* Glidende overgang for farveskift */
    }

    .hamburger:hover div {
        background-color: #0183BF; /* Farveskift ved hover */
    }
        
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr repeat(3, 1fr) 1fr;
        gap: 10px;
        padding: 10px;
        flex: 1;
    }

    .main-header {
        grid-column: span 3;
        text-align: center;
        margin-bottom: 20px;
    }

    .grid-item {
        background-color: #F9F6EF;
        color: #041A4B;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
    }
    .empty {
        background-color: transparent;
        border: none;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
        border: 6px solid #041A4B;
        border-radius: 80px;
        transition: transform 0.3s ease, border-color 0.3s ease;
    }
    .grid-item img:hover {
        transform: scale(1.05);
        border-color: #0183BF;
    }

    footer {
        background-color: #F9F6EF;
        color: #041A4B;
        text-align: center;
        padding: 10px;
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    
    footer a {
        color: #0183BF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    footer a:hover {
        color: #041A4B;
    }
    @media (max-width: 600px) {
        .header {
            grid-template-columns: 1fr; /* Ændrer layoutet til en enkelt kolonne */
        }
    
        .column-1,
        .column-2,
        .column-3 {
            grid-column: 1 / -1; /* Gør hver kolonne til at strække sig over hele bredden */
            justify-self: center; /* Centrerer kolonnerne horisontalt */
        }
    
        .nested-columns {
            grid-template-columns: 1fr; /* Ændrer nested kolonner til en enkelt kolonne */
        }
        
        .grid-container {
            grid-template-columns: 1fr;
        }
        .empty {
            display: none;
        }
        header .logo {
            display: none;
        }
        .hamburger {
            display: block; /* Viser hamburgermenuen på små skærme */
            top: 10px; /* Placerer hamburgermenuen i øverste højre hjørne */
            right: 10px;
        }
        .search-container {
            display: none;

        }
        .search-container input {
            display: none;
            
        }
        .search-container button {
            display: none;
            
        }
        .search-container button:hover {
            display: none;
            
        }
       
    }
